* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* added border box to * */

body {
    position: relative;
    font-family: 'Gill Sans', 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

/* added new font family  */

header {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;

}

/* gave head a display and flex then align items center with 20px padding */

h1 {
    background-color: #5f9ea0;
    padding: 20px;
}

nav {
    margin-left: auto;
    font-size: larger;

}

/* added margin left auto and font size larger */

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 20px;

}

/* added padding and gap display flex to nav ul */

.nav ul li a {
    color: #5f9ea0;
    text-decoration: underline;
    padding: 10px 10px;
    text-align: right;
}

/* gave padding of rop and right 10px and 15px added text align right */

.background-box {
    background-color: teal;
    background-size: cover;
    justify-content: flex-end;
    padding: 100px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;

}

/* created new section for subtitle add box for section  */
/* fixed by added justify content flex end reducing bottom padding aligning items and making content relative */

h3 {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    /* border-right: 1px solid black; */
    height: 50px;
}

/* removed border all around every h3 */
/* got the h3 aligned to the left with a gap in-between  */

article {
    display: flex;

}

p {
    border: 1px solid black;
}

/* made new section called project with the 4 paragraphs in it for work */
.project {
    display: flex;
    flex: 70%;
    width: 100%;
    background-color: rgb(255, 127, 219);
    justify-content: center;
}

.project-2 {
    display: flex;
    flex: 70%;
    width: 100%;
    background-color: aquamarine;
    border: 1px blue;
    justify-content: center;
}

.contact-me {
    display: flex;
    flex: 70%;
    width: 100%;
    border: 1px blue;
    justify-content: center;
}

.resume {
    display: flex;
    flex: 70%;
    width: 100%;
    border: 1px rgb(35, 35, 236);
    justify-content: center;
}


/* added id title work to identify that section  */
#title_work {
    flex: 30%;
    border: 2px solid red;
    margin: 0 10px;

}

#about_me {
    flex: 30%;
    border: 2px solid rgb(255, 255, 0);
    margin: 0 10px;
    width: 30%;

}

/* added all the id tags for seperate boxes  */
#contact_me {
    /* flex: 30%; */
    border: 2px solid rgb(0, 179, 255);
    margin: 0 10px;

}

#contact_me1 {
    flex: 30%;
    border: 2px solid rgb(255, 0, 0);
    margin: 0 10px;
    background-color: aquamarine;

}


#resume_1 {
    /* flex: 30%; */
    border: 2px solid rgb(36, 118, 160);
    margin: 0 10px;

}

#resume_2 {
    flex: 30%;
    border: 2px solid rgb(255, 68, 0);
    margin: 0 10px;

}