* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* added border box to * */

body {
    position: relative;
    font-family: 'Gill Sans', 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
}

/* added new font family  */

header {
    box-sizing: border-box;
    background-color: black;
    display: flex;
    align-items: center;

}

/* gave head a display and flex then align items center with 20px padding */

h1 {
    background-color: #5f9ea0;
    padding: 20px;
}

nav {
    margin-left: auto;
    font-size: larger;

}

/* added margin left auto and font size larger */

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 20px;

}

/* added padding and gap display flex to nav ul */

.nav ul li a {
    color: #5f9ea0;
    text-decoration: underline;
    padding: 10px 10px;
    text-align: right;
}

/* gave padding of rop and right 10px and 15px added text align right */

.background-box {
    background-color: teal;
    background-size: cover;
    justify-content: flex-end;
    padding: 100px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;

}

h3,
p,
article {
    border: 1px solid red;
    display: flex;
}

.left-part {
    flex: 1 1 20%;
    justify-content: center;
    padding: 60px;
}

.right-part {
    flex: 1 1 80%;
    justify-content: center;

}